{
  "server": {{ 'true' if inventory_hostname in groups['consul_server'] else 'false' }},
  "node_name": "{{ inventory_hostname }}",
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_path }}/data",
  "bind_addr": "{{ '0.0.0.0' if inventory_hostname in groups['consul_server'] else hostvars[inventory_hostname]['ansible_all_ipv4_addresses'] | select('match', consul_base_ip) | list | first }}",
  "client_addr": "{{ '0.0.0.0' if inventory_hostname in groups['consul_server'] else '127.0.0.1' }}",
{% if inventory_hostname in groups['consul_server'] %}
  "advertise_addr": "{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'] | select('match', consul_base_ip) | list | first }}",
  "bootstrap_expect": {{ groups['consul_server'] | length }},
  "ui": false,
{% endif %}
  "ports": {
    "serf_lan": 8402,
    "http":8505,
     "dns" : 8703
        }, 
  "retry_join": [{% for host in groups['consul_server'] %}
"{{ hostvars[host]['ansible_all_ipv4_addresses'] | select('match', consul_base_ip) | list | first }}:8301"
{%- if not loop.last %}, {% endif %}
{% endfor %}],
  "encrypt": "{{ consul_secret }}",
  "log_level": "INFO",
  "enable_syslog": true,
  "enable_debug": true,
  "acl_enforce_version_8": false
}

