#
# LDAP Defaults
# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never

TLS_CACERTDIR /etc/openldap/cacerts
BASE {{ sssd_ldap_dir }}
URI {{ ldap_uri_list }}

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON    on
