[sssd]
config_file_version = 2
services = nss, pam, ssh
domains = default

[nss]
filter_groups = root
filter_users = root

[pam]
offline_credentials_expiration = 1

[domain/files]
id_provider = files

[domain/default]
debug_level = 7
full_name_format = %1$s
id_provider = ldap
auth_provider = ldap
ldap_group_member = memberUid
ldap_uri = {{ sssd_ldap_svr }}
ldap_chpass_uri = {{ sssd_ldap_pwd_svr }}
ldap_search_base = {{ sssd_ldap_dir }}
ldap_user_search_base = {{ sssd_ldap_peop_dir }}
ldap_group_search_base = {{ sssd_ldap_grp_dir }}
ldap_default_bind_dn = {{ sssd_def_bind_dn }}
ldap_default_authtok = {{ sssd_def_authtok }}
enumerate = True
