---
vault_addr: "https://{{ inventory_hostname }}:8200"
vault_cacert: "/etc/vault/certs/{{ inventory_hostname }}.crt"

keys: 
{{ keys  | to_nice_yaml | indent(2, true) }}

{# NOTE:  the above strange jinja sequence after "keys:" exists because for #}
{# some reason, the variable "keys" (which originated as a yaml list) was #}
{# stored and converted to a json list "[<key>, <key>, ...]".  The code #}
{# above is to reconvert it back to json.  Go figure? #}
{# "keys" is a json list (originally represented as a yaml list) #}
{# "to_nice_yaml" converts json into yaml #}
{# "indent" indents the yaml as needed #}
