### BEGIN INIT INFO
# Provides:          {{ consul_service }}
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Consul agent
# Description:       Consul service discovery framework
### END INIT INFO

[Unit]
Description=Consul {{ 'server' if inventory_hostname in groups['consul_server'] else 'client' }} agent
Documentation=https://www.consul.io/docs/index.html
Requires=network-online.target
After=network-online.target
# <tu> prupp - added to delay start
ExecStartPost=/bin/sleep 10
# </tu> prupp - added to delay start

[Service]
Type=simple
User={{ consul_user }}
Group={{ consul_group }}
PIDFile=/var/run/{{ consul_service }}/{{ consul_service }}.pid
PermissionsStartOnly=true
{% if inventory_hostname in groups['consul_server'] %}
Environment=CONSUL_UI_BETA=true
{% endif %}
ExecStartPre=-/bin/mkdir -p /var/run/{{ consul_service }}
ExecStartPre=/bin/chown -R {{ consul_user }}:{{ consul_group }} /var/run/{{ consul_service }}
ExecStart={{ consul_bin_path }}/consul agent \
    -config-dir={{ consul_conf | dirname }} \
    -pid-file=/var/run/{{ consul_service }}/{{ consul_service }}.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
