### BEGIN INIT INFO
# Provides:          vault-unseal
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Vault server
# Description:       Vault secret management tool
### END INIT INFO

[Unit]
Description=Vault unseal service
#Requires=network-online.target
#After=network-online.target
#Requires=vault.service
After=vault.service

[Service]
User=root
Group=root
Type=oneshot
# a pre-sleep is required allows vault to fully come up....
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/bash -c "{{ bindir }}/{{ binfile }} --configfile={{ configdir }}/{{ configfile }} | tee -a /var/log/{{ binfile }}.log"

[Install]
WantedBy=multi-user.target
