default vesamenu.c32
timeout 50

display boot.msg

menu background splash.png
menu title Welcome to ARM's Kickstart
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000
menu color tabmsg 0 #ffffffff #00000000
menu color unsel 0 #ffffffff #00000000
menu color hotsel 0 #ff000000 #ffffffff
menu color hotkey 7 #ffffffff #ff000000
menu color scrollbar 0 #ffffffff #00000000

menu title ARM Custom RHEL 8.6 Install CD {{ inventory_hostname }}

  label  {{ inventory_hostname }}
  menu label {{ inventory_hostname }} x86_64
  menu default
  kernel vmlinuz node={{inventory_hostname}}.{{ ornl_domain }}
  inst.ks=http://armansible.ornl.gov
